.btn {
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $button-color;
    color: $text-color-white;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.06em;
    border: none;
}