.logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: $accent-color;
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    cursor: default;

    @media screen and (min-width: $desktop){
    font-size: 26px;
    line-height: 1.19;
    justify-content: left;
    }
}

.logo-footer {
    color: $logo-color-footer;
}

.logo-header {
    color: $logo-color-header;
}