.feedback-form {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.feedback-form__title {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03;
    text-align: center;
    margin-bottom: 12px;

    @media screen and (min-width: $desktop) {
        line-height: 1.17;
    }
}

.feedback-form__main {
    display: flex;
    flex-direction: column;
}

.feedback-form__field {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01;
    color: $secondary-text-color;
    margin-bottom: 10px;

    &:nth-child(4) {
        margin-bottom: 20px;
    }

    &:nth-child(5) {
        margin-bottom: 30px;
        @media screen and (min-width: $desktop) {
            padding-left: 13px;
        }
    }   
}

.feedback-form__item {
    position: relative;
    display: flex;
    height: 40px;
    margin-top: 4px;
}

.textarea {
    height: 120px;
}

.feedback-form__input {
    width: 100%;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        outline: none;
        border: 1px solid $accent-color;
    }
}

.textarea-input {
    resize: none;
    padding: 12px 16px;

    &:focus {
        outline: none;
        border: 1px solid $accent-color;
    }
}

.feedback-form__icon {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-3%, -50%);
    width: 18px;
    height: 18px;
    padding: 3px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .feedback-form__input:focus~& {
        fill: $accent-color;
    }
}

.feedback-form__checkbox-form {
    width: 16px;
    height: 15px;
    border: 2px solid $primary-text-color;
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .feedback-form__checkbox:checked+& {
        border-color: transparent;
        background-color: $accent-color;
        background-image: url(../images/ok.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
}

.feedback-form__terms-conditions {
    display: inline-flex;
    align-items: center;
    margin-left: 5px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03;
    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.feedback-form__link {
    color: $accent-color;
}

.feedback-form__btn-submit {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}